@font-face {
  font-family: BlenderHeavy;
  src: url('fonts/Blender-HeavyWeb.eot');
}

@font-face {
  font-family: BlenderHeavy;
  src: url('fonts/Blender-HeavyWeb.woff') format('woff');
}

body {
  background-color: rgb(232, 232, 232);
  cursor: default;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #9a3920;
  color: white;
  padding: 128px 0 50px 0;
}

header h1, header p {
  margin: 0 auto;
  text-align: center;
  width: 580px;
}

header h1 {
  font-family: BlenderHeavy;
  font-size: 48px;
  font-weight: normal;
  line-height: 0.8;
  text-transform: uppercase;
}

header p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  font-style: italic;
  font-weight: 200;
  margin-top: 10px;
  text-transform: lowercase;
  color: rgba(255, 255, 255, 0.8);
}

.beatpacker {
  clear: both;
  margin: 45px auto;
  overflow: hidden;
  width: 620px;
}

.beatpacker img {
  float: left;
  width: 192px;
  border-radius: 192px;
}

.beatpacker div {
  background-color: white;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1),
              0px 2px 3px rgba(0, 0, 0, 0.1);
  margin-left: 205px;
  margin-bottom: 5px;
  padding: 25px;
  width: 350px;
}

.beatpacker h2 {
  font-family: BlenderHeavy;
  font-size: 16px;
  font-weight: normal;
  margin: 0;
  padding-bottom: 5px;
}

.beatpacker h2:before {
  border-bottom: 2px solid #9a3920;
  color: #9a3920;
  content: 'THE BEATPACKING COMPANY';
  display: block;
  font-size: 20px;
  margin-bottom: 5px;
  padding-bottom: 15px;
  text-align: right;
}

.beatpacker a {
  color: gray;
  text-decoration: none;
}

.beatpacker a:hover {
  text-decoration: underline;
}

.beatpacker p {
  border-top: 1px solid #9a3920;
  color: gray;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 12px;
  font-style: italic;
  margin: 0;
  padding: 5px 0;
  width: 350px;
}

.beatpacker dl {
  clear: right;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 12px;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

.beatpacker dl dt {
  display: none;
}

.beatpacker dl dd {
  border-top: 1px solid #9a3920;
  padding: 5px 0;
  margin: 0;
}

footer {
  border-top: 1px solid rgb(224, 224, 224);
  background-color: white;
  padding: 30px 0 45px 0;
}

footer strong, footer p {
  display: block;
  margin: 0 auto;
  width: 560px;
}

footer strong {
  font-family: BlenderHeavy, sans-serif;
  font-size: 18px;
  font-weight: normal;
  text-transform: uppercase;
}

footer p {
  font-family: 'Source Sans Pro', sans-serif;
  color: rgb(187, 187, 187);
  font-size: 13px;
  margin-top: 3px;
}
