@font-face {
  font-family: BlenderHeavy;
  src: url('fonts/Blender-HeavyWeb.eot');
}

@font-face {
  font-family: BlenderHeavy;
  src: url('fonts/Blender-HeavyWeb.woff') format('woff');
}

body {
  cursor: default;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #9a3920;
  color: white;
  padding: 128px 0 50px 0;
}

header h1, p {
  margin: 0 auto;
  width: 560px;
}

header h1 {
  font-family: BlenderHeavy;
  font-size: 48px;
  font-weight: normal;
  line-height: 0.8;
  text-transform: uppercase;
  white-space: pre;
}

header p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  font-style: italic;
  font-weight: 200;
  margin-top: 50px;
  text-transform: lowercase;
}

.beatpacker {
  clear: both;
  margin: 15px auto;
  overflow: hidden;
  width: 560px;
}

.beatpacker img {
  float: left;
  width: 192px;
}

.beatpacker div {
  border: 1px solid rgb(224, 224, 224);
  height: 160px;
  margin-left: 200px;
  padding: 15px;
  width: 328px;
}

.beatpacker h2 {
  font-family: BlenderHeavy;
  font-size: 16px;
  font-weight: normal;
  margin: 0;
  padding-bottom: 5px;
}

.beatpacker h2:before {
  border-bottom: 2px solid #9a3920;
  color: #9a3920;
  content: 'THE BEATPACKING COMPANY';
  display: block;
  font-size: 20px;
  margin-bottom: 5px;
  padding-bottom: 15px;
  text-align: right;
}

.beatpacker a {
  color: gray;
  text-decoration: none;
}

.beatpacker a:hover {
  text-decoration: underline;
}

.beatpacker p {
  border-top: 1px solid #9a3920;
  color: gray;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 14px;
  font-style: italic;
  padding: 5px 0;
  width: 328px;
}

.beatpacker dl {
  clear: right;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 14px;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

.beatpacker dl dt {
  display: none;
}

.beatpacker dl dd {
  border-top: 1px solid #9a3920;
  padding: 5px 0;
  margin: 0;
}

footer {
  border-top: 1px solid rgb(224, 224, 224);
  background-color: rgb(249, 249, 249);
  padding: 30px 0 45px 0;
}

footer strong, footer p {
  display: block;
  margin: 0 auto;
  width: 560px;
}

footer strong {
  font-family: BlenderHeavy;
  font-size: 18px;
  font-weight: normal;
  text-transform: uppercase;
}

footer p {
  color: rgb(187, 187, 187);
  font-size: 12px;
  margin-top: 15px;
}
